#navbar {
    text-align: center;
    background-color: #AF1A1A;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}
#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.lista-sm {
    display:block;
}
#navbar li{
    float: left;
}
#navbar li a{
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}

#navbar li.active a{
    color: black;
    font-weight: bold;
}

#navbar li a:hover{
    background-color: black;
    color: white;
    font-weight: bold
}

.myicono {
    color:aliceblue;
    font-size: 1.5em;
    padding: 10px;
    display: none;
}



/*Celular*/
@media screen and (max-width: 1180px){

    .lista-sm{
        display: none;
    }

    #navbar li{
        float: none;
        display: block;
    }
    #navbar li a{
        padding: 5px;
        text-align: left;
        width: 100%;
    }
    .myicono{
        display: block;
        text-align: left;
    }


}
